/* Reset rules */

:is(*, *::before, *::after) {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

:is(input, button, textarea, select) {
  font: inherit;
}

:is(h1, h2, h3) {
  text-wrap: balance;
}

:is(p, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word;
}

/* Colors */

:root {
  --color-canvas: hsl(210, 30%, 5%);
  --color-text: hsl(210, 30%, 80%);
  --color-text-highlight: hsl(210, 30%, 95%);
}

html {
  background-color: var(--color-canvas);
  color: var(--color-text);
}

/* Font sizing rules */

:root {
  --font-size-base: calc(16 / 16);
  --font-size-desktop: calc(20 / 16);
  --font-size-900: calc(var(--font-size-base) * 4.209em);
  --font-size-800: calc(var(--font-size-base) * 3.157em);
  --font-size-700: calc(var(--font-size-base) * 2.369em);
  --font-size-600: calc(var(--font-size-base) * 1.777em);
  --font-size-500: calc(var(--font-size-base) * 1.333em);
  --font-size-400: calc(var(--font-size-base) * 1em);
  --font-size-300: calc(var(--font-size-base) * 0.75em);
  --font-size-200: calc(var(--font-size-base) * 0.563em);
  --font-size-100: calc(var(--font-size-base) * 0.422em);
}

:is(h1, h2, h3, h4, h5, h6) {
  font-weight: 700;
  margin-block: 1rem;
}

h1 {
  font-size: var(--font-size-700);
}

h2 {
  font-size: var(--font-size-600);
}

h3 {
  font-size: var(--font-size-500);
}

h4 {
  font-size: var(--font-size-400);
}

h5 {
  font-size: var(--font-size-300);
}

h6 {
  font-size: var(--font-size-200);
}

p {
  font-size: var(--font-size-400);
}

a {
  color: var(--color-text);
}

@media (min-width: 37.5rem) {
  :root {
    --font-size-base: var(--font-size-desktop);
  }
}

/* pre and code rules. */

pre {
  margin-block: 1rem;
  padding: 1em;
  font-size: var(--font-size-400);
}







/* html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

html.dark {
  background-color: #0d0950;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
} */