---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Blog About</title>
	</head>
	<body>
		<a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>
		<h1>Astro Blog About</h1>



        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus repellat explicabo nobis iusto labore animi necessitatibus eaque enim quod ducimus nihil, ut ex cum perspiciatis harum veritatis alias. Excepturi, odio.
        </p>
	</body>
</html>
