---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About us";

const identity = {
	firstname: "Adam",
	lastname: "Stone",
	country: "Germany",
	hobbies: ["sleeping", "sitting", "drinking"],
};

const hobbyColor = "navy";
---

<BaseLayout pageTitle={pageTitle}>
	<style>
		p {
			color: blue;
		}
	</style>
	<p>
		Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus
		repellat explicabo nobis iusto labore animi necessitatibus eaque enim
		quod ducimus nihil, ut ex cum perspiciatis harum veritatis alias.
		Excepturi, odio.
	</p>

	<p>My name is {identity.firstname}</p>
	<ul>
		{identity.hobbies.map((hobby) => <li class="hobbies">{hobby}</li>)}
	</ul>
</BaseLayout>

