<footer>
    <p>Astro Blog Tutorial</p>
    <button class="test-button">Click Me</button>

    <script>
        // main.js loads here in the component.
        import '../scripts/main.js'
    </script>
</footer>