<style>
    footer {
        padding-block: 2em;
    }
</style>

<footer>
    <!-- <button class="test-button">Click Me</button> -->
    <p>Pan Arcadia</p>

    <script>
        // main.js loads here in the component.
        // import '../scripts/main.js'
    </script>
</footer>