---

---

<style>
    a {
        color: white;
        text-decoration: none;
    }
    
    .activeLink {
        color: lightcoral;
        text-decoration: underline;
    }
</style>

<a href="/">Home</a>
<a href="/blog/">Blog</a>
<a href="/tags">Tags</a>


<script>
    document.querySelectorAll('a').forEach((link) => {
        if (location.pathname === link.getAttribute('href')) link.classList.toggle('activeLink')
    })
</script>