---
import "../styles/global.css";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

// const pageTitle = 'Home Page'
const { pageTitle } = Astro.props;
// import '../scripts/main.js'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<!-- main.js loads here... -->
		<!-- <script src="../scripts/main.js"></script> -->
		<style>
			/* Center page content rules */

			.page-wrap {
				display: grid;
				grid-template-columns: minmax(auto, 75ch);
				justify-content: center;
				row-gap: 1em;
				padding-inline: 1em;
			}
		</style>
	</head>
	<body>
		<div class="page-wrap">
			<Header />
			<h1>{pageTitle}</h1>
			<slot />

			<Footer />
		</div>

		<!-- <script>
			import '../scripts/main.js'
		</script> -->
	</body>
</html>
